.feedback-content{
    display: flex;
    flex-direction: column;
}

.nome{
    display: flex;
}

.starsback{
    display: flex;
    gap: 3px

    
}


#txtdepoimento{
    height: 250px;
    width: 100%;
    margin: 0;
}

#btn-enviar{
    background-color: #562b2d;
    color: white;
    transition: ease-in-out 0.3s;
    width: 100%;
    border-radius: 15px;
    height: 50px;
}
#btn-enviar:hover{
    background-color: #562b2db4;
}

